@charset "UTF-8";

/*
**Typical Devices breakpoints ( Atualizado )**

Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.

Cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        position: relative;
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    #login {
        margin: auto;
        width: 80vw;
        height: 280px;
    }

    #imagem {
        height: 280px;
        width: 80vw;
        top: 50%;
        background-size: contain;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    #formulario {
        top: 58%;
    }

    #email, #senha {
    }

    #email > #iemail, #senha > #isenha {
    } 
}    