@charset "UTF-8";

/*
**Typical Devices breakpoints ( Atualizado )**

Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.

Cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    #login {
        width: 80vw;
        max-width: 81vw;
        height: 280px;
    }

    #imagem {
        position: absolute;
        height: 280px;
        width: 80%;
        top: 50%;
        background-size: 24vw;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    div > h1 {
        top: 30.8%;
        margin-left: 12vw;
    }

    div > p {
        top:38%;
        width: 55vw;
        padding-right: 2vw;
        margin-left: 13vw;
    }
    #formulario {
        width: 27vw;
        position: absolute;
        top: 57%
    }

    #email, #senha {
        position: relative;
        width: 53.5vw;
    }

    #email > #iemail, #senha > #isenha {
        position: absolute;
        width: calc(100% - 48px);
        margin-left: none;
    }
    
    #campo_entrar > #entrar, #campo_esquecisen > #esquecisen {
        width: 53.5vw;
    }
}  

@media screen and (min-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    div > h1 {
        font-size: 2em;
        top: 25.3%;
        margin-left: -236px
    }

    div > p {
        font-size: 1em;
        top:36%;
        width: 485px;
        padding-right: 25px;
        margin-left: -220px;
    }

    #login {
        min-width: 950px;
        height: 350px;
    }

    #imagem {
        height: 350px;
        top: 50%;
        margin-left: 241px;
        width: 470px;
        background-size: 472px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    #formulario {
        top: 58.5%;
        min-width: 910px;
    }

    #email, #senha {
        width: 462px
    }

    #email > #iemail, #senha > #isenha {
        width: 412px;
    }

    #campo_entrar > #entrar, #campo_esquecisen > #esquecisen {
        width: 462px;
    }



    
}